:root {
    --dark: #154360;
    --piping: #7D3C98;
    --light: #fff
}

body {
    background-color: var(--dark);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:var(--light);
}

header {
    display: flex;
    align-items: center;
    background-image:url();
    margin-bottom: 10px;
}

.title {
    border: 5px inset var(--light);
    background-color: var(--piping);
    color: rgb(50, 47, 47);
    margin-left: 200px;
    font-size: 48px;
}

.pfp {
    height: 150px;
    border: 5px solid var(--piping);
}

a {
    color: var(--light);
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    padding-left: 5px;
}

nav li::before {
    content:"🎶";
}

.project{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.project-title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
 .refract{
    max-width:100%;
    display: flex;
    justify-items: center;
    align-items: center;
    outline: 5px solid var(--piping);
 }

 .secondary{
    display: flex;
    flex: 0 1 200px;
    align-items:center;
    justify-content:space-between;
 }

 .mini-img{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 25px;
    outline: 5px solid var(--piping);
    
 }
