:root {
    --dark: #154360;
    --piping: #7D3C98;
    --light: #fff
}

body {
    background-color: var(--dark);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:var(--light);
}

header {
    display: flex;
    align-items: center;
    background-image:url();
    margin-bottom: 10px;
}

.title {
    border: 5px inset var(--light);
    background-color: var(--piping);
    color: rgb(50, 47, 47);
    margin-left: 200px;
    font-size: 48px;
}

.pfp {
    height: 150px;
    border: 5px solid var(--piping);
}

a {
    color: var(--light);
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    padding-left: 5px;
}

nav li::before {
    content:"🎶";
}

